@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.rated_card {
  display: flex;
  height: 100%;
  width: 30%;
  justify-content: space-between;
  align-items: center;

  gap: 0.5rem;

  p {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.4rem;
  }
  &_image {
    object-fit: cover;
    width: 30%;
    height: 100%;
  }

  &_data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    padding: 1rem 0;
    justify-content: space-between;
  }

  &_watch {
    @include m.button();
    background-color: v.$secondary;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    gap: 0.4rem;
    color: white;
    &:hover {
      background-color: v.$secondary-dark;
    }
  }

  &_details {
    @include m.button();
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    background-color: v.$primary;
    color: white;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;

    text-decoration: none;
    color: inherit;
    gap: 0.4rem;
        &:hover{
      background-color: v.$background-light
    }
  }

  &_actions {
    display: flex;
    gap: 1rem;
  }
}
