@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.sidebar {
  height: 100%;
  width: 4rem;
  background-color: v.$background-light;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  flex: 0 0 auto;

  &_main {
    color: v.$secondary;
    font-size: 2rem;
    flex: 0 0 auto
  }

  &_navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    gap: 1rem;
    flex: 1 1 auto;

    &_icon{
        font-size: 1.5rem;
        color: v.$primary;
        
        &:hover{
            color: #ffff;
        }
    }
  }

  &_avatar{
            font-size: 2rem;
        color: v.$primary;
        
  }
}
